.randomizeSelect {
    color: gold;
    background-color: black;
    border-radius: 20px;
    border-color: goldenrod;
    font-size: 18px;
    transition: 0.2s;
}

.randomizeSelect:focus-visible {
    outline: none;
}